---
---
@charset "utf-8";

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@import "variables";
@import "base";
@import "layout";
@import "syntax-highlighting";


#full-page, #full-page-dark{
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: repeat;
}

#full-page{
  background-image: $bg-image;
  z-index: -1;

  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}
#full-page-dark{
  background-image: $bg-image-dark;
  z-index: -2;
}

// Animate fade in & out
.fade-in{
  animation: fadein 1s;
  -webkit-animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-out{
  animation: fadeout 1s;
  -webkit-animation: fadeout 1s;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
