---
---
/*
TODO:
  add media-query so a dropdown menu appears on mobile on top-right
*/
@charset "utf-8";

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@import "variables";
@import "base";
@import "layout";
@import "syntax-highlighting";

body{
  background-color: #eaeaea;
}

span.no-wrap{
  display: inline-block;
}

#full-page, #full-page-dark{
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background-repeat: repeat;
}

#full-page{
  background-image: $bg-image;
  z-index: -1;

  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}
#full-page-dark{
  background-image: $bg-image-dark;
  z-index: -2;
}

.center{
  // Align center vertically
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container{
  // Width
  display: block;
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;

  // Center horizontally
  margin-left: auto;
  margin-right: auto;

  // Colour and Shape
  background-color: #fff;
  border-radius: $border-radius;
  box-shadow: 0 0 10px 0 rgba(40, 40, 40, 0.3);
}

.box{
  text-align: center;

  padding-top: $spacing-unit;
}

// Circular images
.img-circle{
  border-radius: 50%;
  border: 2px solid #ddd;

  margin-top: 15px;
  margin-bottom: 15px;
}


//Buttons
.btn{
  display: inline-block;

  // Text Properties
  color: $button-color;
  font-weight: 600;
  text-decoration: none;

  // Button Properties
  border: 2px solid;
  border-color: $button-color;
  border-radius: $border-radius;
  background: #fff;

  margin: 5px;
  padding: 10px 18px;

  &:visited{
    color: darken(#337ab7, 30%);
  }

  &:hover{
    text-decoration: none;
    color: #f00;
  }
}

.hline{
  border: 0;
  height: 1px;
  background-color: #e8e8e8;
  margin: $spacing-unit/2 0;
  /*background-image: -webkit-linear-gradient(left, #ededed, #a9a9a9, #ededed);
  background-image: -moz-linear-gradient(left, #ededed, #a9a9a9, #ededed);
  background-image: -ms-linear-gradient(left, #ededed, #a9a9a9, #ededed);
  background-image: -o-linear-gradient(left, #ededed, #a9a9a9, #ededed);*/
}

.fade-in{
  animation: fadein 1s;
  -webkit-animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-out{
  animation: fadeout 1s;
  -webkit-animation: fadeout 1s;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
