---
layout: page
title: Contact
permalink: /contact/
---

<p>Want to have a chat? Feel free to contact me by:</p>
<p>
  <b>Email:</b>
  <a href="mailto:{{ site.email }}">{{ site.email }}</a>
</p>
<p>
  <b>Github:</b>
  <a href="https://github.com/{{ site.github }}">
    <span class="icon">{% include icon-github.svg %}</span>
    <span class="username">{{ site.github }}</span>
  </a>
</p>
<p>
  <b>LinkedIn:</b>
  <a href="https://ca.linkedin.com/in/{{ site.linkedin }}">
    <span class="icon">{% include icon-linkedin.svg %}</span>
    <span class="username">{{ site.linkedin }}</span>
  </a>
</p>
