<footer>

  <div class="wrapper">

    <hr class="hline">

    <div class="footer-header">
      <h5>Copyright © 2016 Michael Kim</h5>
    </div>
<!--
    <div class="footer-col-1">
      <a class="page-link" href="{{ '/' | prepend: site.baseurl }}"><b>Home</b></a>
      <a class="page-link fade-link" href="{{ '/about/' | prepend: site.baseurl }}">About</a>
      <a class="page-link fade-link" href="{{ '/projects/' | prepend: site.baseurl }}">Projects</a>
      <a class="page-link fade-link" href="{{ '/contact/' | prepend: site.baseurl }}">Contact</a>
    </div>

    <div class="footer-col-2">
      <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      <a href="https://github.com/{{ site.github }}">
        <span class="icon">{% include icon-github.svg %}</span>
        <span class="username">{{ site.github }}</span>
      </a>
      <a href="https://ca.linkedin.com/in/{{ site.linkedin }}">
        <span class="icon">{% include icon-linkedin.svg %}</span>
        <span class="username">{{ site.linkedin }}</span>
      </a>
    </div>
  -->
  </div>

</footer>
