<!--
classes:
  site-header
  wrapper
  site-title
  site-nav
  trigger
  page-link
  icon NOT USED
  icon--github NOT USED

TODO:
  add linkedin icon next to github
  cleanup
-->
<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">

      <div id="links" class="trigger">
        <a class="page-link" href="{{ '/about/' | prepend: site.baseurl }}">About</a>
        <a class="page-link" href="{{ '/projects/' | prepend: site.baseurl }}">Projects</a>

        <a href="https://github.com/{{ site.github }}"><span class="icon icon--github">{% include icon-github.svg %}</span></a>

      </div>

    </nav>

  </div>

</header>
