<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML">
</script>
<script type="text/javascript" src="{{ "/js/main.js " | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/transition-page.js " | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/lightbox.min.js " | prepend: site.baseurl }}"></script>