/*
Page container
*/
// Full screen flexbox for centering main screen
.center{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
// Centered container
.container{
  // Width
  display: block;
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;

  // Center horizontally
  margin-left: auto;
  margin-right: auto;

  // Colour and Shape
  background-color: #fff;
  border-radius: $border-radius;
  box-shadow: 0 0 10px 0 rgba(40, 40, 40, 0.3);
}
// Content inside container
.box{
  text-align: center;
  padding-top: $spacing-unit / 2;
  padding-bottom: $spacing-unit / 2;
}

/*
Project page
*/
// Container for all projects in projects page
.project-list{
  display: inline-block;
  width: 90%;

  p, h1, h2, h3, h4, h5, h6{
    margin-bottom: 0;
  }
  // Individual project
  .project{
    border-radius: $border-radius;
    /* padding-bottom: $spacing-unit / 3; */
    margin: 0 auto $spacing-unit/3 auto;
    background-color: #fafafa;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);

    width: 400px;
    height: 225px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    // Content inside project on hover
    .project-box{
      padding: 10px;
      background-color: #fafafa;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
      border-radius: $border-radius;

      opacity: 0;
      transition: opacity .2s ease-in-out;
    }
    // Full width projects
    @include media-query($on-palm){
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
  // Show content on hover
  .project:hover .project-box{
    opacity: 1;
  }
  // Alternate left/right align for two columns
  .project-link{
    &:nth-child(odd){
      float: left;
    }
    &:nth-child(even){
      float: right;
    }
    // One column projects
    @include media-query($single-col){
      float: left !important;
      width: 100%;
    }
    // Full width projects
    @include media-query($on-palm){
      padding-bottom: 56.25%; // 16:9 aspect ratio
      position: relative;
      margin-bottom: $spacing-unit/3;
    }
  }

  a:hover{
    text-decoration: none;
  }
  a:visited{
    color: #2a7ae2;
  }
}

/**
* Site header
*/
.site-header {
  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: relative;
}

#site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

//Lightbulb positioning
.lightbulb{
  position: absolute;
  z-index: 5;
  top: 0;
  left: 85px;
  padding-left: 15px;

  .chain {
    border-left: 2px dotted black;
    height: 200px;
    transition: height 0.5s ease-in-out;
  }

  .handle {
    position: relative;
    background-color: #555;
    width: 15px;
    height: 15px;
    border: 1px #888 solid;
    border-radius: 50%;
    left: -7px;
  }

  .lightbulb-icon {
    display: none;
  }

  @include media-query($on-palm) {
    left: 0;

    .chain, .handle {
      display: none;
    }

    .lightbulb-icon {
      display: block;
    }
  }
}


.site-nav-dark {
  @include media-query($on-palm){ // add background color on dark mobile
    background-color: #424242;
  }
}

.site-nav {
  @include media-query($on-palm){ // add background color on light mobile
    background-color: $background-color;
  }
}

.site-nav, .site-nav-dark { // top menu / mobile dropdown menu
  float: right;
  line-height: 56px;
  z-index: 2;

  .menu-icon {
    display: none;
  }

  a {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    #menu {
      clear: both;
      display: none;
      padding: 5px 10px;
    }

    &:hover #menu {
      display: block;
      padding-bottom: 5px;
    }

    a {
      display: block;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

/**
* Page content
*/
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}


/*
 * Project Tools list in projects page
*/
.tools{
  display: inline-block;
  border-radius: 4px;
  background-color: #B4B4B4;
  padding: 2px 4px;
  margin-right: 2px;
  margin-bottom: 2px;
  cursor: pointer;

  a{
    color: black;
    display: inline-block;
  }

  a:hover{
    text-shadow: 0px 0px 1px black;
  }
}



/**
* Posts
*/
.post-header {
  h1, h2, h3, h4, h5, h6{
    margin-bottom: $spacing-unit / 2;
  }
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1.2;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  //margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

.blog-link:hover, .blog-link:active, .blog-link:focus {
  text-decoration: none;
  outline: 0;
}

.blog-box{
  margin-bottom: 5px;
  background-color: $grey-color-light;
  border-radius: $border-radius;
  border: 3px solid black;

  p {
      padding-left: 50px;
      padding-right: 50px;

      @include media-query($on-palm) {
        padding-left: 20px;
        padding-right: 20px;
      }
  }

}
