<!DOCTYPE html>
<html>

{% include head.html %}
{% seo %}

<body>
  <div id="full-page"></div>
  <div id="full-page-dark"></div>
  {% include lightbulb.html %}

  <div class="center">
    <div class="container fade-in">
      <div class="box">

        <img src="{{ site.photo }}" alt="author photo" class="img-circle" width="150" height="150">
        <h1>
          <span class="no-wrap">Hello, I'm</span> <span class="no-wrap"><b>{{ site.name }}</b>!</span>
        </h1>
        <h3>{{ site.bio }}</h3>

        <hr class="hline">

        <a href="{{ '/about/' }}" class="btn">about</a>
        <a href="{{ '/projects/' }}" class="btn">projects</a>
        <a href="{{ '/blog/' }}" class="btn">blog</a>
        <a href="{{ site.github | prepend: "https://github.com/"}}" class="btn">github</a>
        <a href="{{ '/contact/' }}" class="btn">contact</a>

        <hr class="hline">

      </div>
    </div>
  </div>

  {% include scripts.html %}

</body>

</html>
